body {
  padding: 50px 25px;
  font: 14px Helvetica, Arial, sans-serif;
}

.container h1 {
  font-weight: bold;
  color: #2ecc71;
}

.container h4{
  padding-bottom: 25px;
  color:#27ae60;
}

li a {
  color: #34495e;
}

li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}


ul {
  list-style-type: none;
}

li {
  padding-bottom: 15px;
}

.left, .right {
  display: inline-block;
  width: 40%;
  padding: 0 25px;
}

.right {
  vertical-align: top;
}

.quote {
  color: #8e44ad;
}

.author {
  text-align: right;
  font-weight: bold;
  font-size: 2em;
  color: #2ecc71;
}
